{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Barras</title>
    <!-- Incluye la biblioteca Chart.js desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Gráfico de Barras</h1>
    <div style="width: 80%; margin: auto;">
        <!-- El elemento canvas donde se dibujará el gráfico -->
        <canvas id="myBarChart"></canvas>
    </div>

    <!--{% for v in votings %}
        data.labels.push('{{ v.name }}');
        data.datasets[0].data.push({{ v.votes }});
    {% endfor %}-->

    <script>
        // Datos para el gráfico
        var data = {
            labels: [],
            datasets: [{}]
        };

        var votings = document.getElementById('votings').value;

        //votings es un diccionario
        for (var i = 0; i < votings.length; i++) {
            data.labels.push(votings);
            data.datasets[0].data.push(votings[i].votes);
        }

        // Opciones de configuración del gráfico
        var options = {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };

        // Obtén el contexto del elemento canvas
        var ctx = document.getElementById('myBarChart').getContext('2d');

        // Crea un objeto de gráfico de barras
        var myBarChart = new Chart(ctx, {
            type: 'bar', // Tipo de gráfico
            data: data,
            options: options
        });
    </script>
</body>
</html>