{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}

<div id="app-booth">
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="navbar-brand" >Decide</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" v-if="!signup">
                        <button v-on:click="decideLogout" class="btn btn-secondary">{% trans "Logout" %}</button>
                    </li>
                    <li class="nav-item" v-if="signup">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#registerModal">
                            Login
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
        </symbol>
        <symbol id="info-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
        </symbol>
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
        </symbol>
    </svg>

    <div class="alert alert-success d-flex align-items-center" role="alert" :variant="alertLvl" dismissible v-if="successVote">
        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
        </svg>
        <div>
            [[ alertMsg ]]
        </div>
    </div>

    <div class="alert alert-danger d-flex align-items-center" role="alert" :variant="alertLvl" dismissible v-if="!successVote && alertShow">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Failure:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            [[ alertMsg ]]
        </div>
    </div>

    <div class="voting" >
        <div class="alert alert-primary d-flex align-items-center me-5" role="alert" :variant="alertLvl" dismissible v-if="signup">
            {% comment %} <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> {% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
            <div class="ms-2">
                ¡Debe iniciar sesión para poder acceder a la votación!
            </div>
        </div>
        <div class="container-fluid">
            <!-- Modal -->
            <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="registerModalLabel">Login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Register -->
                            <form @submit="onSubmitLogin" v-if="signup">
                                <div class="form-group mt-2">
                                    <label for="username">{% trans "Username" %}</label>:
                                    <input
                                        class="ml-2 form-control"
                                        id="username"
                                        type="text"
                                        v-model="form.username"
                                        autocomplete="username"
                                        required />
                                </div>
                                <div class="form-group mt-1">
                                    <label for="password">{% trans "Password" %}</label>:
                                    <input
                                        class = "form-control"
                                        id="password"
                                        type="password"
                                        autocomplete="current-password"
                                        v-model="form.password"
                                        required />
                                </div>
                                <button class="btn btn-primary mt-3" type="submit" data-bs-dismiss="modal">{% trans "Login" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Voting -->
        <div v-if="!signup">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>
            <h2>[[ voting.question.desc ]]</h2>
            <form v-for="opt in voting.question.options" :key="opt.number">
                <div class="form-group">
                    <input type="radio" v-model="selected"
                                :id="'q' + opt.number"
                                name="question"
                                :value="opt.number">
                        [[ opt.option ]]
                </div>
            </form>
            <button class="btn btn-primary mt-3" v-on:click="decideSend">
                {% trans "Vote" %}
            </button>
        </div>

    </div>

</div>
    
{% endblock %}

{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>

    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@latest"</script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.2/dist/js/bootstrap.js"></script>

    <script>
        const { createApp } = Vue
        var voting = {{voting|safe}};
        createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    voting: voting,
                    selected: "",
                    signup: true,
                    successVote: false,
                    alertShow: false,
                    alertMsg: "",
                    alertLvl: "info",
                    token: null,
                    user: null,
                    form: {
                        username: '',
                        password: ''
                    },
                    bigpk: {
                        p: BigInt.fromJSONObject(voting.pub_key.p.toString()),
                        g: BigInt.fromJSONObject(voting.pub_key.g.toString()),
                        y: BigInt.fromJSONObject(voting.pub_key.y.toString()),
                    },
                    keybits: {{ KEYBITS }}
                }
            },
            beforeMount() {
                this.init()
                ElGamal.BITS = this.keybits;
            },
            methods: {
                init() {
                    var cookies = document.cookie.split("; ");
                    cookies.forEach((c) => {
                        var cs = c.split("=");
                        if (cs[0] == 'decide' && cs[1]) {
                            this.token = cs[1];
                            this.getUser();
                        }
                    });
                },
                postData(url, data) {
                    // Default options are marked with *
                    var fdata = {
                        body: JSON.stringify(data),
                        headers: {
                            'content-type': 'application/json',
                        },
                        method: 'POST',
                    };

                    if (this.token) {
                        fdata.headers['Authorization'] = 'Token ' + this.token;
                    }

                    return fetch(url, fdata)
                        .then(response => {
                            if (response.status === 200) {
                                return response.json();
                            } else {
                                return Promise.reject(response.statusText);
                            }
                        });
                },
                onSubmitLogin(evt) {
                    evt.preventDefault();
                    this.postData("{% url "gateway" "authentication" "/login/" %}", this.form)
                        .then(data => {
                            document.cookie = 'decide='+data.token+';';
                            this.token = data.token;
                            this.getUser();
                            this.alertShow = false;
                        })
                        .catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                getUser(evt) {
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/getuser/" %}", data)
                        .then(data => {
                            this.user = data;
                            this.signup = false;
                            this.alertShow = false;
                        }).catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                decideLogout(evt) {
                    evt.preventDefault();
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/logout/" %}", data);
                    this.token = null;
                    this.user = null;
                    this.alertShow = false;
                    document.cookie = 'decide=;';
                    this.signup = true;
                    this.successVote = false;
                },
                decideEncrypt() {
                    var bigmsg = BigInt.fromJSONObject(this.selected.toString());
                    var cipher = ElGamal.encrypt(this.bigpk, bigmsg);
                    return cipher;
                },
                decideSend(evt) {
                    evt.preventDefault();
                    var v = this.decideEncrypt();
                    var data = {
                        vote: {a: v.alpha.toString(), b: v.beta.toString()},
                        voting: this.voting.id,
                        voter: this.user.id,
                        token: this.token
                    }
                    this.postData("{% url "gateway" "store" "/" %}", data)
                        .then(data => {
                            this.successVote = true;
                            this.alertShow = false;
                            this.showAlert("success", '{% trans "Congratulations. Your vote has been sent" %}');
                        })
                        .catch(error => {
                            this.succesVote = false;
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                showAlert(lvl, msg) {
                    this.alertLvl = lvl;
                    this.alertMsg = msg;
                    this.alertShow = true;
                }
            },
        }).mount('#app-booth')
    </script>
</body>
{% endblock %}
