<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
  <h2>Iniciar Sesión</h2>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <label for="{{ form.username.id_for_label }}">Username:</label>
    {{ form.username }}
    {{ form.username.errors }}

    <br>

    <label for="{{ form.password1.id_for_label }}">Password:</label>
    {{ form.password }}
    {{ form.password.errors }}

    <br>

    <button type="submit">Iniciar Sesión</button>
  </form>
</body>
</html>